@tailwind base;
@tailwind components;
@tailwind utilities;


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.text-gradient {
  background: linear-gradient(90deg, rgb(95, 95, 95), rgb(179, 179, 179));
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .responsive-text {
    font-size: 4rem;
  }

  .responsive-p {
    font-size: 1.5rem;
  }
}